body {
    background-color: #181818;
}

.card {
    position: absolute;
    cursor: pointer;
    width: 42%;
    height: 42%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 5px 5px #555555;
}

#card-0 {
    top: 6%;
    left: 6%;
}

#card-1 {
    top: 6%;
    right: 6%;
}

#card-2 {
    bottom: 6%;
    left: 6%;
}

#card-3 {
    bottom: 6%;
    right: 6%;
}