body {
    background-color: #181818;
}

.gameContainer {
    height: 570px;
    width: 520px;
    position: absolute;
    left: 50%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    background-color: #3D3D3D;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#title {
    position: relative;
    font-size: 50px;
    left: 2.5%;
}

#game {
    background-color: #ffffff;
    height: 500px;
    width: 500px;
    position: relative;
    border: 1px solid #ffffff;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#score {
    position: absolute;
    font-size: 16px;
    right: 2.5%;
    top: 2%;
}

#highScore {
    position: absolute;
    font-size: 16px;
    right: 2.5%;
    top: 5%;
}

@media only screen and (max-width: 550px),
only screen and (max-height: 570px) {
    .gameContainer {
        height: 350px;
        width: 320px;
        position: absolute;
        left: 50%;
        border: 1px solid #ffffff;
        border-radius: 10px;
        color: #ffffff;
        background-color: #3D3D3D;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    #title {
        position: relative;
        font-size: 30px;
        left: 3%;
    }
    #game {
        background-color: #ffffff;
        height: 300px;
        width: 300px;
        position: relative;
        border: 1px solid #ffffff;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    #score {
        position: absolute;
        font-size: 12px;
        right: 3%;
        top: 2%;
    }
    #highScore {
        position: absolute;
        font-size: 12px;
        right: 3%;
        top: 5%;
    }
}