:root {
    --button-size: 50px;
    --border-roundness: 15%;
}

body {
    background-color: #181818;
    color: #ffffff;
}

.title {
    font-size: 2em;
    line-height: 2em;
}

.context {
    line-height: 1em;
    font-size: 1em;
}

.context a {
    color: #181818;
    background-color: #ffffff;
    text-decoration: none;
}

#reset-button-container {
    position: relative;
    height: var(--button-size);
}

#reset-button {
    cursor: pointer;
    position: absolute;
    background-color: #ff1f1f;
    background-image: url(../icons/trash.png);
    background-size: calc(var(--button-size)/1.1);
    background-position: center;
    background-repeat: no-repeat;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--border-roundness);
    -webkit-border-radius: var(--border-roundness);
    -moz-border-radius: var(--border-roundness);
    -ms-border-radius: var(--border-roundness);
    -o-border-radius: var(--border-roundness);
}

#reset-button-text {
    position: absolute;
    left: calc(var(--button-size) + 10px);
    top: calc(var(--button-size) / 2);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#back {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: var(--button-size);
    height: var(--button-size);
    background-color: #aaaaaa;
    background-image: url(../icons/back.png);
    background-size: calc(var(--button-size)/1.1);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    filter: invert();
    -webkit-filter: invert();
    border-radius: var(--border-roundness);
    -webkit-border-radius: var(--border-roundness);
    -moz-border-radius: var(--border-roundness);
    -ms-border-radius: var(--border-roundness);
    -o-border-radius: var(--border-roundness);
}